<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>Day planner!</title>
<<<<<<< HEAD
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
=======
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
>>>>>>> dcffd5e8b88e4d9fed95a093026de8babcc3834c
  <script src="https://code.jquery.com/jquery.js"></script>
  <link type="text/css"  rel="stylesheet" href="/css/styles.css">
</head>
<body>
  {{{ body }}}
</body>
</html>
