{{!-- Header Container --}}
<header>
</header>

{{!-- Container for the Create Events form. --}}
<div class="createEvent">
  <h3>Add Your Own Event</h3>
  <form>
    Event Title:<br>
  <input type="text" name="eventTitle" placeholder="Event Title" >
  <br>

  Event Date:<br>
  <input type="date" name="eventDate">
  <input type="submit">
  <br>

  Event Description:<br>
  <textarea id="eventDescription"></textarea>
  <br>

  Event Type:<br>
  <input type="radio" name="eventType" value="public" checked> Public<br>
  <input type="radio" name="eventType" value="private"> Private<br>
  <br>

  Capacity:<br>
  <input type="number" min="0" id="eventCapacity">
  <br>

  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br>


  </form>
</div>

{{!-- Footer Container --}}
<footer>
</footer>
