{{!-- Feed Page --}}

{{!-- NEW Updated Header-Amani --}}
<header>
 <nav>
    <div class="nav-wrapper  blue lighten-4">
        <a href="https://radiant-eyrie-36675.herokuapp.com/" id="logo-container" class="brand-logo"> <img src="/images/CASUS.png" alt="Logo" class="logoPic"> </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="blue lighten-4"><a class="modal-trigger" href="/api/feed">Feed</a></li>
        <li class="blue lighten-4"><a class="modal-trigger" href="/api/useralikes">User Likes</a></li>
        <li class="blue lighten-4"><a class="modal-trigger" href="/api/useraevents">User Events</a></li>
        <li class="blue lighten-4"><a class="modal-trigger" href="#modal2">Create Event</a></li>
        <li class="logout blue lighten-4"><a href="/api/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>

{{!-- Social media login page. "action = '/action_page.php' removed." --}}
<div class="mainContainer">

<div id = "feed">
  <h4>Events</h4>
  {{#each events}}
        {{> feeds/feeds}}
  {{/each}}
</div>




<div class="legal">
    <a class="text text--small text--border-right" href="javascript:;">Terms</a>
    <a class="text text--small text--border-right" href="javascript:;">Privacy</a>
</div>

<div class="develop">
    <a class="text text--small" href="https://github.com/JohnRThurlby/Casus" target="_blank">Developed by
        <b>CASUS</b>
    </a>
</div>

{{!-- Footer Container --}}
<footer>
</footer>

{{!-- Container for the Create Events form. --}}
<div id="modal2" class="createEvent modal" startingTop="10%" dismissible>
  <div class="modal-content">
    <h4>Add Your Own Event</h4>
    <form action="/api/userevents" method="POST">
      <h5>Event Title:</h5>
    <input type="text" name="eventTitle" placeholder="Event Title" maxlength="50" required >
    <br>

    <h5>Event Description:</h5>
    <textarea id="eventDescription" name="eventDescription" maxlength="200"></textarea>
    <br>
    
    <h5>Event Location:</h5>
    <textarea id="eventLocation" name="eventLocation" required></textarea>
    <br>

    <h5>Event Start Date:</h5>
    <input type="datetime-local" name="eventStartdate" required maxlength="20">
    <br>

    <h5>Event End Date:</h5>
    <input type="datetime-local" name="eventEnddate" required maxlength="20">
    <br>
    
    <h5>Event Type:</h5>
     <label>
        <input type="checkbox" name="eventPublic" />
        <span>Public</span>
      </label>
      <label>
        <input type="checkbox" name="eventPrivate" />
        <span>Private</span>
      </label>
    <br>

    <h5>Capacity:</h5>
    <input type="number" min="0" name="eventCapacity" id="eventCapacity" >
    <br>

    <h5>Categories:</h5>
    <div class="input-field col s12">
    <select required name="eventCategory" maxlength="30">
      <option value="" disabled selected>Choose your option</option>
      <option value="Music">Music</option>
      <option value="Visual Arts">Visual Arts</option>
      <option value="Performing Arts">Performing Arts</option>
      <option value="Film">Film</option>
      <option value="Lectures & Books">Lectures and Books</option>
      <option value="Fashion">Fashion</option>
      <option value="Food & Drink">Food and Drink</option>
      <option value="Festivals and Fairs">Festivals and Fairs</option>
      <option value="Charities">Charities</option>
      <option value="Sports and Active Life">Sports and Active Life</option>
      <option value="Nightlife">Nightlife</option>
      <option value="Kids and Family">Kids and Family</option>
      <option value="Other">Other</option>
    </select>
    </div>
    <br>
    {{!-- Tags for the event --}}
    <h5>Tag:</h5>
    <input placeholder="Tags" id="tags" type="text" name="eventTag" class="validate"></input>
    <br>
    <h5>If you would like to tweet your event, enter your Twitter id:</h5>
    <input placeholder="Twitterid" id="twitterid" type="text" name="eventTwitter" class="validate"></input>


    <button class="btn waves-effect waves-light" type="submit" >Add Event</button>
    </form>
    
  </div> 
</div>

{{!-- <script src="/js/pswdval.js"></script> --}}
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  (function ($) {
    $(function () {

        //initialize all modals           
        $('.modal').modal();

        //now you can open modal from code
        //$('#modal1').modal('open');

        //or by click on trigger
        $('.trigger-modal').modal();

    }); // end of document ready
})(jQuery); // end of jQuery name space

//Get the select form ready. 
$(document).ready(function(){
    $('select').formSelect();
  });
     
//Date picker get ready. 
 $(document).ready(function(){
    $('.datepicker').datepicker();
  });

</script>



