
{{!-- Header Container --}}
<header>
</header>



{{!-- Container for the events feed. --}}
<div class="feedContainer">
</div>


{{!-- Footer Container --}}
<footer>
</footer>


{{!-- Linked to pswdval.js for Password verification. --}}
<script src="/js/pswdval.js"></script>