  {{!-- Landing Page --}}
<input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
<input type="radio" id="toggle--signup" name="toggle" class="ghost" />
<img class="logo framed" src="" alt="CASUS LOGO" />
<form class="form form--login framed" action="/api/users" method="GET">
    <input type="email" placeholder="Email" id="Email2" name="Email2" class="input input--top" required />
    <input type="password" placeholder="Password" id="Password2" name="Password2" class="input" required />
   
    <input type="submit" value="Log in" class="input input--submit" />

    <label for="toggle--signup" class="text text--small text--centered">New?
        <b>Sign up</b>
    </label>
    <label class="text text--small text--centered">
       <b>{{error}}</b>
   </label>
</form>


<form class="form form--signup framed" action="/api/users" method="POST">
   <h2 class="text text--centered text--omega">Casus connects you to relevant events
       <b>streamlined and customized </b> in a seamless experience.</br>Connect with Casus</h2>

   <input type="email" placeholder="Email" id="Email" name="Email" class="input input--top" required />
 
   <div class="tooltip">
     <input type="password" placeholder="Password" id="Password" name="Password" class="input" required />
     <span class="tooltiptext">Password must be minimum 8 chars,and must contain one lowercase, one uppercase, one numeric, and one special character</span>
   </div>
   <input type="text" placeholder="Zipcode" id="Zipcode" name="Zipcode" class="input" required />

   <input type="submit" value="Sign up" class="input input--submit" />

   <label for="toggle--login" class="text text--small text--centered">Not new?
       <b>Log in</b>
   </label>
   <label class="text text--small text--centered">
       <b>{{error}}</b>
   </label>

</form>

<div class="legal">
    <a class="text text--small text--border-right" href="javascript:;">Terms</a>
    <a class="text text--small text--border-right" href="javascript:;">Privacy</a>
</div>

<div class="develop">
    <a class="text text--small" href="https://github.com/JohnRThurlby/Casus" target="_blank">Developed by
        <b>CASUS</b>
    </a>
</div>
{{!--
<div class="fullscreen-bg"></div> --}} {{!-- Toogle-images --}}
<div class="background-image toggle-image first-image show"></div>
<div class="background-image toggle-image second-image"></div>
<div class="background-image toggle-image third-image"></div>


{{!-- Header Container --}}
<header>

</header>

{{!-- Social media login page. "action = '/action_page.php' removed." --}}
<div class="mainContainer">

{{!-- Anibal deleted the social media login modal. 6/5/18 --}}

<!-- Modal Trigger -->
  <a class="waves-effect waves-light btn modal-trigger" href="#modal2">Create Event!</a>


<div id = "feed">
  {{#each events}}
        {{> feeds/feeds}}
  {{/each}}
</div>

{{!-- Container for the Create Events form. --}}
<div id="modal2" class="createEvent modal bottom-sheet">
  <div class="modal-content">
    <h3>Add Your Own Event</h3>
    <form>
      Event Title:<br>
    <input type="text" name="eventTitle" placeholder="Event Title" >
    <br>

    Event Date:<br>
    <input type="date" name="eventDate">
    <input type="submit">
    <br>

    Event Description:<br>
    <textarea id="eventDescription"></textarea>
    <br>

    Event Type:<br>
    <input type="radio" name="eventType" value="public"> Public<br>
    <input type="radio" name="eventType" value="private"> Private<br>
    <br>

    Capacity:<br>
    <input type="number" min="0" id="eventCapacity">
    <br>

    First name:<br>
    <input type="text" name="firstname" value="Mickey">
    <br>


    </form>
  </div> 
</div>


</div>


{{!-- Footer Container --}}
<footer>
</footer>

{{!-- Linked to pswdval.js for Password verification. --}}

{{!-- <script src="/js/pswdval.js"></script> Linked to landing.js for toogle scripting. --}}
<script src="/js/landing.js"></script>


{{!-- <script src="/js/pswdval.js"></script> --}}
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
  (function ($) {
    $(function () {

        //initialize all modals           
        $('.modal').modal();

        //now you can open modal from code
        $('#modal1').modal('open');

        //or by click on trigger
        $('.trigger-modal').modal();

    }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
