{{!-- Initial Login page --}}
<div class = "firstLogin">
  <div class="row">
    <h2 style="text-align:center">Login with Social Media or Manually</h2>
    <div class="vl">
      <span class="vl-innertext">or</span>
  </div>


  <div class="col">
    <a href="#" class="signUp btn">
          <i class="fa"></i> Sign Up
    </a>    
  </div>

  <div class="col">
    <div class="hide-md-lg">
          <p>Or sign in manually:</p>
    </div>

        <a href="#" class="signUp btn">
          <i class="fa"></i> Sign Up
    </a>  
  </div>



</div>