body {
    background-color: #b9dbf8;
    background-image: url("../images/CasusFriends.jpeg");
}

.feedcont {
    width:80%;
    background-color: rgba(0, 247, 255, 0.1);
    border-radius: 8px;
    box-shadow:4px 2px 5px grey;
}

#desccont {
    height: 150px;
    overflow: auto;
    background-color:rgb(214, 214, 214);
    border-radius: 8px;
}

.eventImg {
    width: 100%;
    height: auto;
}
.title, .locCont, .image, .descCol, .googleMapImg {
    border-radius: 8px;
    background-color: #faffbd;
    box-shadow:4px 2px 5px grey;
}

.btn {
    box-shadow:4px 2px 5px grey;
}

#intags input[type='text']{
    width: 15%;
    display: inline!important;
    background: #F9F9F9;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.4;
    padding: 6px;
}
