/* * {box-sizing: border-box} */

/* style the container */
/* .container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
}  */

/* style inputs and link buttons */
/* input,
.btn { */
  /* align-self: center;
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; remove underline from anchors */
/* } */

/* input:hover,
.btn:hover { */
  /* opacity: 1; */
/* } */

/* add appropriate colors to fb, twitter and google buttons */
/* .fb {
  background-color: #3B5998;
  color: white;
} */

/* .twitter {
  background-color: #55ACEE;
  color: white;
} */

/* .google {
  background-color: #dd4b39;
  color: white;
} */

/* style the submit button */
/* input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
} */

/* input[type=submit]:hover {
  background-color: #45a049;
} */

/* Two-column layout */
/* .col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
} */

/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */

/* vertical line */
/* .vl {
  position: absolute;
  left: 47.5%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
} */

/* text inside the vertical line */
/* .vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
} */

/* The form for the username and psw. */
/* #username {
  width: 90%;
} */
/* hide some text on medium and large screens */
/* .hide-md-lg {
  display: none;
} */

/* bottom container */
/* .bottom-container {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  position: relative;
  width: 100%;
  align-self: center;
} */

/* Social media modal button */
/* #socialBtn {
  position: relative;
  width: 50%;
} */
/* Buttons for the bottom container. */
/* #pswForgot {
  width: 100%;
  background-color: forestgreen;
  text-align: center;
  color: white;
} */
/* Style the submit button */
/* input[type=submit] {
  background-color: #4CAF50;
  color: white;
} */

/* Style the container for inputs */
/* .container {
  background-color: #f1f1f1;
  padding: 20px;
} */

/* The message box is shown when the user clicks on the password field */
/* #message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
} */

/* #message p {
  padding: 10px 35px;
  font-size: 18px;
} */

/* Add a green text color and a checkmark when the requirements are right */
/* .valid {
  color: green;
} */

/* .valid:before {
  position: relative;
  left: -35px;
  content: "✔";
} */

/* Add a red text color and an "x" when the requirements are wrong */
/* .invalid {
  color: red;
} */

/* .invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
} */

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  /* .vl {
    display: none;
  } */
  /* show the hidden text on small screens */
  /* .hide-md-lg {
    display: block;
    text-align: center;
  } */
}



/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}

/* CSS for Toggle Images 
/* Basic background image styling. */

.background-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Styles for the alternating / transition effect. */

.toggle-image {
   position: absolute;
  width: 100%;
  top: 0;
  left: 0;
   height: 800px;
  transition: opacity 1s ease-in-out;
} 

/* Styles for the specific images. */
.first-image {
  background-image: url('../images/CasusArcade.jpeg');	
  z-index: -3;
  opacity: 0;
}

.second-image {
  background-image: url('../images/CasusFood.jpeg');
  z-index: -2;
  opacity: 0;
}

.third-image {
  background-image: url('../images/landingpage.jpg');
  z-index: -1;
  opacity: 0;
}

.first-image.show {
  opacity: 1;
}

.second-image.show {
  opacity: 1;
}

.third-image.show {
  opacity: 1;
}

/*main page-amani*/

html, body {
  width: 100%!important;
  height: 100%!important;
  margin: 0!important;
  font-family: Helvetica, Arial, sans-serif!important;
  overflow: hidden!important;
}

.ghost {
  position: absolute!important;
  left: -100%!important;
}

.framed {
  position: absolute!important;
  top: 50%; left: 50%!important;
  width: 15rem!important;
  margin-left: -7.5rem!important;
}

.logo {
  margin-top: -9em;
  cursor: default;
}

.form {
  margin-top: -4.5em!important;
  transition: 1s ease-in-out!important;
}

.input {
  -moz-box-sizing: border-box !important; 
       box-sizing: border-box !important;
  font-size: 1.125rem !important;
  line-height: 3rem!important;
  width: 100%; height: 3rem!important;
  color: #444 !important;
  background-color: rgba(255,255,255,0.8)!important;
  border: 0!important;
  border-top: 1px solid rgba(255,255,255,0.3)!important;
  padding: 0 1rem!important;
}
  .input:focus {
    outline: none!important;
  }
  .input--top {
    border-radius: 0.5rem 0.5rem 0 0!important;
    border-top: 0!important;
  }
  .input--submit {
    background-color: rgba(92,168,214,0.9) !important;
    color: #fff!important;
    font-weight: bold!important;
    cursor: pointer!important;
    border-top: 0!important;
    border-radius: 0 0 0.5rem 0.5rem!important;
    margin-bottom: 1rem!important;
  }


.text {
  color: #fff!important;
  text-shadow: 0 1px 1px rgba(0,0,0,0.8)!important;
  text-decoration: none!important;
}
  .text--small {
    opacity: 0.85!important;
    font-size: 0.75rem!important;
    cursor: pointer!important;
  }
    .text--small:hover {
      opacity: 1!important;
    }
  .text--omega {
    width: 200%!important;
    margin: 0 0 1rem -50%!important;
    font-size: 1.5rem!important;
    line-height: 1.125!important;
    font-weight: normal!important;
  }
  .text--centered {
    display: block!important;
    text-align: center!important;
  }
  .text--border-right {
    border-right: 1px solid rgba(255,255,255,0.5)!important;
    margin-right: 0.75rem!important;
    padding-right: 0.75rem!important;
  }

.legal {
  position: absolute;
  bottom: 1.125rem; left: 1.125rem;
}

.develop {
  position: absolute;
  right: 1.125rem; bottom: 1.125rem;
}

/* .form--login {
  background-color: rgba(255,255,255,0.8);
} */
/* ::placeholder { 
  color: grey;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: grey;
}

::-ms-input-placeholder { 
  color: grey;
} */

/* .fullscreen-bg {
  position: fixed;
  z-index: -1;
  top:0; right:0; bottom:0; left:0;
  background: url(https://images.pexels.com/photos/196652/pexels-photo-196652.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940g) center;
  background-size: cover; */
/* } */

#toggle--login:checked ~ .form--signup { left:200%; visibility:hidden; }
#toggle--signup:checked ~ .form--login { left:-100%; visibility:hidden; }

@media (height:300px){.legal,.photo-cred{display:none}}


/* Styles for event container */

.eventContainer {
  width: 100%;
}

.image {
  width: 50%;
  height: auto;
}

.googleMap {
  width: 25%;
  height: auto;
}


.filler {
  z-index: 1000;
  height: 900px;
  width: 100%;
  float: left;

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;

}