<div class="feedContainer">
    <div class = "eventContainer" style = "width: 100%;">
        <div class = "eventTitle">
            Event Title
        </div>

        <div class = "image" style = "width:50%; height:auto;">
            Image Placeholder
        </div>

        <div class = "eventDesc">
            Here is a description of the event.
        </div>

        <div class = "location">
            Orlando, FL
        </div>

        <div class = "googleMap" style = "width:25%; height:auto;">
            Google Maps Placeholder
        </div>

        <div class = "startTime">
            August 5, 2018 10:00 a.m.
        </div>

        <div class = "endTime">
            August 6, 2018 6:00 p.m.
        </div>

        <div class = "like">
            like button
        </div>

        <div class = "remove">
            remove button
        </div>
    </div>
</div>